* {
  margin:0;
  padding: 0;
  color: #123C69;
  font-family: "Inter", sans-serif;
  line-height: 1.3;
  
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
  color: #eaca98;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

h2, h3 {
  text-align: center;
  font-size: 1.2em;
  line-height: 1.1;
  color: #123C69;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

body {
  min-width: 320px;
  min-height: 100vh;
  background-color: #22336b;
  font-family: "Nunito", sans-serif; /* or "Varela Round" */
}

header {
  margin-top: 0;
  padding: 0 20px 20px 20px;
}
main {
  padding: 20px;
  border-radius: 20px 20px 0 0;
  background-color: #eee2dc;
  border-style: solid;
  border-color: #dd9245;
 }

 button {
  margin: 1em;
  display:inline-block;
  background-color: #c3653e;
  padding: 15px;
  border-color: #c3653e;
  border-radius: 10px;
  min-width: 100px;
  font-size: 1.2em ;
  color: #EEE2DC
 }
 button:hover {
  background-color: #dd9245;
  border-color: #dd9245;
 }
 button:focus {
  background-color: #dd9245;
  border-color: #dd9245;
 }
#error {
  color:#c3653e;
  font-weight: bold;
  margin: 10px;
}

label {
  margin: 5px;
}

ol {
  margin: 1em;
}
li {
  margin: 0.5em;
}

#rules img {
  display: block;   /* makes image a block element */
  margin: auto; /* centers image horizontally, adds vertical spacing */
  max-width: 100%;  /* keeps image responsive */
}
#rules
{
  background-color: #ffffff;
  padding: 2em;
  max-width: 50em;
  border-color: #dd9245;
  border-style: dotted;
  border-radius: 20px;
  border-width: 1px;
  text-align: left;
  margin: 0 auto; /* centers the div horizontally */
}



iframe {
  border-width: 0;
  background-color: #ffffff;
  border-radius: 20px;
}
#agreeArea {
  margin: 1em;
  padding: 1em;
}
 label {
  font-weight: bold;
 }

 #title {
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 10px;      
}

input.larger {
  transform: scale(2);
  margin: 20px;
}

footer {
  gap: 30px; 
  background-color:#dd9245;
  border-radius: 0 0 20px 20px;
  padding: 1em;
  justify-content: center;
  display: flex;
  align-items: center;
}

#backToMain {
  display: flex;
}

hr {
  margin: 1em;
  color: #dd9245;
}
#languageArea {
  color: #ffffff;
  justify-content: right;
  display: flex;
  align-items: center;
}
#languageArea button {
  background-color: #123c6900;
  border-style: none;
  padding: 0;
  margin: 0 10px;
}

#languageArea button:hover {
  color:#dd9245
}


/* ------- MOBILE STARTS HERE----------*/

@media (max-width: 600px) {
    #title, footer {
      flex-direction: column; /* stack items vertically */
      gap: 10px; /* smaller gap between items */
    }

    #languageArea {
      margin: 15px 0;
    }

    h1 {
      font-size: 1.5em;
      line-height: 1.1;
    }
    
    h2, h3 {
      text-align: center;
      font-size: 1.2em;
    }
    
    header {
      padding: 10px 0;
    }

    main {
      width: 100%;
      box-sizing: border-box;
      padding: 0.2em;
      margin: 0;
    }
    
    button {
      margin: 2em;
      padding: 20px;
    }

    
    label, ol, #error, hr {
      margin: 0px;

    }

    li {
      margin: 1em 0em;

    }
    
    iframe {
      height: 1600px;
    }

    #agreeArea {
      margin: 0.2em 0em;
      padding: 0.5em;
    }
    
    
    input.larger {
      margin: 14px;
    }
    
    
    #languageArea button {
      background-color: #123c6900;
      border-style: none;
      padding: 0;
      margin: 0 10px;
    }

    #backToMain {
      display: block;
      padding: 10px 0;
    }
    address {
      text-align: left;
      font-size: 0.8em;
      line-height: 1.4em;
    }

}
  

